body {
    font-family: sans-serif;
    color: #fff;
}
.header {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.list {
    margin: 0;
    padding: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-item {
    list-style: none;
    padding: 10px;
}
.list_link {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    transition: .3s;
}
.list_link:hover {
    color: rgb(236, 131, 11);
}
.container {
    display: flex;
    flex-direction: column;
}
.content {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.content:nth-child(1) {
    background: rgb(2, 0, 36);
    background: linear-gradient(332deg, rgba(2, 0, 36, 1) 0%, rgba(10, 130, 28, 1) 43%, rgba(0, 212, 255, 1) 100%);
}
.content:nth-child(2) {
    background: rgb(130, 10, 39);
    background: linear-gradient(332deg, rgba(130, 10, 39, 1) 37%, rgba(0, 255, 16, 1) 100%);
}
.content:nth-child(3) {
    background: rgb(7,247,168);
    background: linear-gradient(332deg, rgba(7,247,168,1) 30%, rgba(179,0,255,1) 100%);
}
.content:nth-child(4) {
    background: rgb(197, 247, 7);
    background: linear-gradient(332deg, rgba(197, 247, 7, 1) 30%, rgba(0, 255, 16, 1) 100%);
}
.content:nth-child(5) {
    background: rgb(247,7,242);
    background: linear-gradient(332deg, rgba(247,7,242,1) 30%, rgba(0,0,0,1) 100%);
}
.content_title {
    font-size: 30px;
    letter-spacing: 10px;
}
.content_text {
    max-width: 500px;
    line-height: 50px;
    color: #eaeaea;
    margin: 0 auto;
    font-size: 25px;
    letter-spacing: 4px;
}
